img {
  width: 100px;
  margin-top: 10px;
}

.box-shadow-none {
  box-shadow: none !important;
}

.border-gray {
  border: 1px solid #e0e0e0;
}

.bg-orange-500 {
  background-color: #ff6b00;
}

.hover\:bg-orange-600:hover {
  background-color: #e65c00;
}